.container {
    min-width: 15.55vw;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: 5px solid var(--blue-dark);
    border-radius: 10px;

    color: var(--blue-dark);

    cursor: pointer;
        
    &:hover {
        border-color: var(--orange);
        color: var(--orange);

        .container__add_button {
            background-image: url(../../../../assets/svg/add-orange.svg);
        }
    }

    &__board_name {
        // position: absolute;
        // top: 50px;

        font-family: 'Oswald';
        font-size: 32px;
        color: inherit;
        letter-spacing: 1px;
    }

    &__add_button {
        height: 70px;
        width: 70px;

        background-image: url(../../../../assets/svg/add-blue-dark.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media(max-width: 1440px) {
    .container {
        width: 30%;
        height: 250px;
    }
}

@media(max-width: 1024px) {
    .container {
        width: 45%;
        height: 200px;

        &__board_name {
            font-size: 28px;
        }
    }
}

@media(max-width: 768px) {
    .container {
        width: 80%;
        height: 220px;

        &__board_name {
            font-size: 26px;
            text-align: center;
        }
    }
}

@media(max-width: 425px) {
    .container {
        width: 90%;

        &__board_name {
            font-size: 22px;
        }
    }
}

