.container {
  flex: 1 1;
  height: 100%;
  width: 15.55vw;
  min-width: 300px;
  padding: 0 10px 10px;

  border: 4px solid var(--blue-light);
  border-radius: 10px;
  background: var(--white-hover);

  color: var(--blue-light);
}

