.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.content_container {
  margin: 80px 0;
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.content_section {
  width: 33%;
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--blue-dark);

  overflow: hidden;
  
  &__title {
    width: 100%;
    margin-top: 31vh;
    
    font-family: "Oswald";
    letter-spacing: 1px;
    font-size: 74px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s linear;
  }

  &__description {
    width: 100%;

    position: absolute;
    top: 100%;

    padding: 0 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Montserrat";
    color: var(--blue-light);
    font-size: 30px;
    text-align: justify;
    // word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;

    transition: 0.5s linear;
  }

  &__team_container {
    width: 100%;
    flex: 1;
    padding: 10px 0;

    display: flex;

    img {
      width: 180px;
      padding-right: 20px;
      border-right: 4px solid var(--blue-dark);
      object-fit: cover;
    }

    &__content {
      flex: 1;
      padding-left: 20px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 28px;
        text-align: start;
        color: var(--blue-light);
      }

      p {
        font-size: 20px;
        font-family: "Montserrat";
      }
    }
  }

  &__team_container:not(:last-of-type) {
    border-bottom: 4px solid var(--blue-dark);
  }

  &:hover {
    .content_section__title {
      margin-top: 20px;
    }

    .content_section__description {
      top: 21%;
    }
  }
}

.content_section:not(:last-of-type) {
  border-right: 5px solid var(--blue-dark);
}

@media(max-width: 1640px) {
  .content_section {

    &:hover {
      .content_section__description {
        top: 20%;
      }
    }
  }
}

@media(max-width: 1440px) {
  .content_container {
    margin: 60px 0;
  }

  .content_section {

    &__title {
      font-size: 54px;
    }

    &__description {
      font-size: 24px;
      padding: 0 20px;
    }

    &:hover {
      .content_section__title {
        margin-top: 15px;
      }
  
      .content_section__description {
        top: 18%;
      }
    }

    &__team_container {
      img {
        width: 140px;
        padding-right: 15px;

        &__content {
          padding-left: 15px;
    
          h2 {
            font-size: 26px;
          }
    
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media(max-width: 1240px) {
  .content_container {
    margin: 40px 0;
  }

  .content_section {

    &__title {
      font-size: 50px;
    }

    &__description {
      font-size: 22px;
    }
  }
}

@media(max-width: 1024px) {
  .content_container {
    margin: 20px 0;
  }

  .content_section {

    &__title {
      font-size: 44px;
    }

    &__description {
      font-size: 20px;
      padding: 0 15px;
    }

    &:hover {
      .content_section__title {
        margin-top: 10px;
      }
  
      .content_section__description {
        top: 15%;
      }
    }

    &__team_container {
      img {
        width: 120px;
        object-fit: contain;
        padding-right: 10px;
      }

      &__content {
        padding-left: 10px;
        gap: 8px;
  
        h2 {
          font-size: 24px;
        }
  
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .container {
    height: auto;
    max-height: auto;
  }

  .content_container {
    flex-direction: column;
    justify-content: start;

    overflow: auto;
  }

  .content_section {
    width: 90%;
    height: auto;

    overflow: visible;
    
    &__title {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    &__description {
      width: 100%;

      position: static;
  
      padding: 0 30px 30px;
    }
  
    &__team_container {
      &__content {
  
        h2 {
          font-size: 24px;
        }
  
        p {
          font-size: 18px;
        }
      }
    }
    
    &:hover {
      .content_section__title {
        margin-top: 30px;
      }
    }
  }

  .content_section:not(:last-of-type) {
    border-right: none;
    border-bottom: 5px solid var(--blue-dark);
  }
}

@media(max-width: 420px) {
  .content_section {
    
    &__title {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 38px;
    }
  
    &__description {  
      padding: 0 15px 15px;
      font-size: 18px;
    }
  
    &__team_container {
      &__content {
  
        h2 {
          font-size: 20px;
        }
  
        p {
          font-size: 16px;
        }
      }
    }

    &:hover {
      .content_section__title {
        margin-top: 15px;
      }
    }
  }
}