.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content_container {
  margin: 50px 0;
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content_section {
  width: 30%;
  height: 75vh;
  padding: 0 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  color: var(--blue-dark);

  &__title {
    width: 100%;
    // margin-top: 29vh;
    // margin-bottom: 35vh;
    margin-top: 55%;
    margin-bottom: 70%;

    font-size: 74px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s linear;
  }

  &__description {
    flex: 1;

    color: var(--blue-light);
    font-size: 32px;
    text-align: justify;
    // word-break: break-all;
    hyphens: auto;
  }

  &:hover {
    .content_section__title {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.content_section:not(:last-of-type) {
  border-right: 5px solid var(--blue-dark);
}

@media(max-width: 1440px) {
  .content_section {

    padding: 0 30px;

    &__title {
      font-size: 54px;
    }

    &__description {
      font-size: 30px;
    }

    // &:hover {
    //   .content_section__title {
    //     margin-top: 25px;
    //     margin-bottom: 25px;
    //   }
    // }
  }
}