.container {
  position: fixed;
  z-index: 1;

  height: 60px;
  width: 100vw;
  
  display: flex;
  justify-content: space-between;
  
  background-color: var(--blue-dark);

  color: black;
  font-family: 'Oswald';
  font-size: 24px;
  letter-spacing: 1px;

  transition: opacity 0.3s ease 0s;

  &__buttons_group {
    display: flex;
  }
}