.profile-page {
    .container {
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    &__content {
        margin-top: 60px;
        padding: 30px 60px;
        flex: 1;


    }

    &__button {
        width: 80px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-main);
        transition: background 0.3s ease 0s;
        background: rgba(0, 0, 0, 0.24);


        &:hover {
            background: rgba(0, 0, 0, 0.527);
        }
    }

    &__text {}
}