.main{
  margin-top: 60px;
  margin-left: 20px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-bottom: 30px;
  .return-btn__wrapper{
    display: flex;
    justify-content: flex-start;
  }
  .board{
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &-wrapper{
      display: flex;
      flex: 1 1;
    }
  }
}

