.header__button {
    margin: 5px;
    // height: 100%;
    width: 170px;

    border-radius: 10px;

    text-align: center;
    // font-size: 22px;
    // color: var(--white-main);
    
    transition: .3s linear;
    
    &:hover {
        background-color: var(--blue-light-hover);
        color: var(--white-hover);
    }
}