.board__content {

    display: flex;
    flex-wrap: wrap;

    .board__contents-stylys {
    }

    .board__container {
        border: 1px solid #000;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        margin: 5px;
    }

    .board__text {}

    .board-text-main {}

    .board-text-content {}
}