.container {
  min-height: 50px;
  margin-bottom: 10px;
  // margin: 0 10px 10px;

  align-items: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  
  background: white;

  border-top: 3px solid var(--blue-light);
  border-bottom: 3px solid var(--blue-light);
  // border: 3px solid var(--blue-light);
  // border-radius: 10px;

  
  &__title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Oswald";

  }

  button {
    width: 15px;
    height: 15px;
    // padding: 5px;

    background-image: url(../../../../../../assets/svg/close-blue-light.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    transition: .1s linear;
    
    &:hover {
      background-image: url(../../../../../../assets/svg/close-orange.svg);
    }
  }
}