.boarditem__container {
    width: 22%;
    height: 300px;

    border: 2px solid black;
}

@media(max-width: 1440px) {
    .boarditem__container {
        width: 30%;
        height: 250px;
    }
}

@media(max-width: 1024px) {
    .boarditem__container {
        width: 45%;
        height: 200px;
    }
}

@media(max-width: 600px) {
    .boarditem__container {
        width: 80%;
        height: 200px;
    }
}